<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% block title %}
Отклики
{% endblock title %}

{% block content %}
<h1>Все отклики</h1>
<h6><i>На странице отображено {{reactions|length}} из {{paginator.count}} откликов</i></h6>
<hr>
<form action="" method="get">
   {{ filterset.form.as_p }}
   <input type="submit" value="Найти" />
</form>
<hr>


{% if reactions %}
    <table>
        <tr>
            <td>Дата создания</td>
            <td>Автор</td>
            <td>Объявление</td>
            <td>Отклик</td>
            {% if user.is_authenticated %}
                <td>Действия</td>
            {% endif %}
        </tr>

        {% for reaction in reactions %}
        <tr>
            <td>{{ reaction.created_at|date:'d M Y' }}</td>
            <td>{{ reaction.author }}</td>

            <td><a href="{% url 'advert_detail' reaction.post.id %}">{{reaction.post}}</a></td>
            <td>{{ reaction.text }}</td>
            <td>
                {% if reaction.is_approved %}
                <p>Принято</p>
                {% else %}
                 <form action="{% url 'approved' reaction.id %}" method="get">
                     <input type="submit" value="Принять" />
                 </form>
                {% endif %}
                <form action="{% url 'reaction_delete' reaction.id %}" method="get">
                    <input type="submit" value="Удалить" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>Откликов не найдено!</h2>
{% endif %}

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}